@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("./fonts/AtkinsonHyperlegible.ttf") format("truetype");
}


:root {
    --background-dark: #1F4529;
    --background: #47663B;
    --foreground-dark: #EED3B1;
    --foreground: #E8ECD7;

    --darkforestgreen: #1F4529;
    --forestgreen: #47663B;
    --cream: #EED3B1;
    --eggshell: #E8ECD7;

    --font-atkinson-hyperlegible: "AtkinsonHyperlegible";
    --font-atkinson-monolegible: "AtkinsonMonolegible";
}


body {
  color: var(--foreground);
  background: var(--background-dark);
  font-family: var(--font-atkinson-hyperlegible);
}
code {
  font-family: var(--font-atkinson-monolegible);
}
