@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "AtkinsonHyperlegible";
    src: url("./fonts/AtkinsonHyperlegible.ttf") format("truetype");
}


:root {
    --background-dark: #1F4529; /*rgb(31 69 41)*/
    --background: #47663B; /*rgb(71 102 59)*/
    --foreground-dark: #EED3B1; /*rgb(238 211 177)*/
    --foreground: #E8ECD7; /*rgb(232 236 215)*/

    --darkforestgreen: #1F4529;
    --forestgreen: #47663B;
    --cream: #EED3B1;
    --eggshell: #E8ECD7;

    --font-atkinson-hyperlegible: "AtkinsonHyperlegible";
    --font-atkinson-monolegible: "AtkinsonMonolegible";
}


body {
    color: var(--foreground);
    background: var(--background-dark);
    font-family: var(--font-atkinson-hyperlegible);
}

code {
    font-family: var(--font-atkinson-monolegible);
}
